<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>home</title>

    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="https://cdn.bootcdn.net/ajax/libs/html5shiv/r29/html5.js"></script>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <![endif]-->
    <script>
        function check(v_psw)
        {
            psw=document.getElementById("res_pass").value;
            if(psw!=v_psw)
            {
                alert("两次密码不相同！");
                document.getElementById("res_submit").disabled="disabled";
            }
            else
            {
                document.getElementById("res_submit").disabled="";
            }
        }
    </script>
</head>
<body>
<div class="container">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jumbotron">
                <h1>{{userip}}你好！</h1><br><h2>当前服务器时间:{{datetime}}</h2>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 panel panel-primary col-md-offset-3">
            <div class="panel-heading">
                <h3 class="panel-title">登陆</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" role="form" action="/login" method="post">
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">账号</label>
                        <div class="col-sm-10">

                            {{ loginform.name(size=20,class="form-control",id="name",placeholder="请输入账号") }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pass" class="col-sm-2 control-label">密码</label>
                        <div class="col-sm-10">
                            {{loginform.password(size=40,type="password",class="form-control",placeholder="请输入密码") }}
                        </div>
                        <hr>
                        {{ loginform.csrf_token }}
                        <button type="submit" class="btn btn-primary center-block  btn " value="Submit">登陆</button>
                    </div>
                </form>
            </div>

        </div>


        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 panel panel-danger col-md-offset-3">
            <div class="panel-heading">
                <h3 class="panel-title">注册</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" role="form" action="/signin" method="post">
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">用户名</label>
                        <div class="col-sm-10">
                            {{signinform.name(size=40,class="form-control",id="name",placeholder="用户名")}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pass" class="col-sm-2 control-label">密码</label>
                        <div class="col-sm-10">
                            {{signinform.password1(size=40,type="password",class="form-control",id="res_pass",placeholder="请输入密码")}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pass" class="col-sm-2 control-label">确认密码</label>
                        <div class="col-sm-10">
                            {{signinform.password2(size=40,type="password",class="form-control",id="res_pass1",placeholder="请再次输入密码")}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pass" class="col-sm-2 control-label">邮箱</label>
                        <div class="col-sm-10">
                            {{signinform.email(size=40,class="form-control",id="email",placeholder="请输入邮箱")}}
                        <span id="ale" class="label label-default"></span>
                        </div>
                        <hr>
                        {{ signinform.csrf_token }}
                        <button type="submit" class="btn btn-primary center-block btn btn-danger" value="Submit" id="res_submit">注册</button>
                    </div>
                </form>


            </div>
        </div>
    </div>

</body>
</html>