<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{post.title}}</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div>
        <p>{{post.id}} [板块：{{post.section}}] {{post.title}} {{post.poster}}</p>
        <p> {{post.post_time}}</p>
        <p>{{post.content}}</p>
        <br>
    </div>
    {% for i in range(1,len_of_all_posts)%}
    <p>{{allposts[i].poster}}</p>
    <p>{{allposts[i].post_time}}</p>
    <p>{{allposts[i].content}}</p>
    <br>
    {% endfor %}
</body>
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal2">
	+
</button>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel2">
					++
				</h4>
			</div>
			<div class="modal-body">
                <form action="/comment/{{post.id}}" method="post">
                    {{form.csrf_token}}
                    {{form.content.label}}  {{form.content}}<br>
                    {{form.submit}}
                </form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
                <!--
				<button type="button" class="btn btn-primary">
					提交更改
				</button>
				-->
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>
<h1><a href="/home">返回主页</a></h1>
</html>